.quiz-container {
    background: #b1cfdc;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 520px;
    text-align: center;
    animation: popIn 0.6s ease;
  }

  @keyframes popIn {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }

  h2 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 img {
    margin-right: 10px;
    width: 40px;
  }

  #options button, button {
    display: block;
    margin: 10px auto;
    padding: 15px 15px;
    border: none;
    border-radius: 12px;
    background-color: #fca17d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    transition: transform 0.2s, background 0.3s;
  }

  #options button:hover, button:hover {
    background-color: #00b4b4;
    transform: scale(1.05);
  }

  .selected {
    background-color: #534926 !important;
    transform: none !important;
  }

  #next-btn {
    margin-top: 20px;
    display: none;
    background-color: #6a4c93;
  }

  #next-btn:hover {
    background-color: #5a3c7d;
  }

  input {
    padding: 10px;
    border-radius: 8px;
    border: 2px dashed #f9844a;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .hidden {
    display: none;
  }

  #result-box strong {
    color: #6a4c93;
  }

  .error-message {
    color: #ff5f6d;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
    display: none;
  }